<%= form_with model: @entity, url: group_entities_path(), scope: :entity do |f| %>
    <div class="header">
    <%= link_to group_entities_path() do%>
      <i class="fa-solid fa-arrow-left fa-xl"></i>
    <% end %>
    <h3> NEW TRANSACTION </h3>
    <%= f.submit "SAVE", class: "submit-button" %>
  </div>
    
</div>
    <div class="field">
    <%= f.text_field :name, autocomplete: "Transaction-name", placeholder: "name", require: true %>
      <hr>
    </div>
  
    <div class="field">
      <%= f.number_field :amount, step: :any, autocomplete: "Transaction-amount", placeholder: "amount", require: true %>
      <hr>
    </div>
  
</div>

<% end %>